@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
/*RESET STYLES*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.3;
    background: #2a363c;
    font-family: 'Work Sans', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*FIN RESET STYLES*/

body {
    opacity: 0;
    transition: opacity 1s;
}

h3 {
    font-size: 32px;
}
body {
    overflow-x: hidden;
}
.full-background {
    position: absolute;
    width: 100vw;
    height:100%;
    font-size: 72vw;
    color:white;
    opacity: 0.1;
    top:40px;

    font-family: 'Share Tech', sans-serif;

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;

}

section {
    margin: 30px 0;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index:2;
}

header .redes svg {
    width: 24px;
    height: 24px;
    margin: 0 5px;
}

header .redes svg path {
    fill: #ff837a;
}
header .redes svg .fill {
    fill: #2a363c!important;
}


header .redes svg:hover path {
    fill: #dcb339;
}

header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: width 1s;
    width: 50px;
    color: #ff837a;
    font-family: 'Share Tech Mono', monospace;
    font-size: 18px;
}

header nav a {
    text-decoration: none;
    color: #ff837a;
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
}

header nav a:hover {
    color: #dcb339;
}

header nav a, header nav .close {
    display: inline-block;
    max-width: 0px;
    overflow: hidden;
    transition: all 1s;
}

header nav.opened {
    width: 55%;
}

header nav.opened .letter {
    display: none;
}

header nav.opened .close, header nav.opened a {
    max-width: none;
}

.self-presentation {
    display: flex;
    flex-flow: column;
    background: linear-gradient(to bottom, rgba(153, 184, 152, 1) 0%, rgba(254, 206, 168, 1) 0%, rgba(255, 133, 124, 1) 38%, rgba(232, 74, 95, 1) 59%, rgba(42, 54, 59, 1) 100%);
    padding: 15px;
    margin-top: 0px;
    padding-bottom: 40px;
    margin-bottom: 0;
}

.self-presentation .presentation-text {
    text-align: center;
    margin-left: 0;
    width: 100%;
    z-index:2;
}


.self-presentation .presentation-text h1 {
    font-size: 160px;
    margin-bottom: 5px;
    color: #2a363c;
    font-family: 'Share Tech', sans-serif;
    margin-top: 20px;
}

.self-presentation .presentation-text h2 {
    color: white;
    font-size: 52px;
    text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
    display: inline-block;

}

.self-presentation .presentation-text h3 {
    color: #2a363c;
    font-size: 31px;
    display: inline;
    margin: 0 auto;
    padding-right: 3px;
    font-family: 'Share Tech Mono', monospace;
}

.self-presentation .presentation-text .content {
    background: #2a363c;
    margin: 40px auto;
    padding: 20px;
    color: white;
    text-align: left;
    box-shadow: 1px 15px 35px 7px rgba(0, 0, 0, 0.75);
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
.self-presentation .presentation-text .content h4 {
    color:rgba(255, 133, 124, 1);
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}
.self-presentation .presentation-text .content ul {
    padding-left: 20px;
}
.self-presentation .presentation-text .content li {
    margin-bottom: 8px;
    text-align: left;
}
.self-presentation .presentation-text .content li:before {
    content: "\f054"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1em;
    width: 1.3em;
    color:rgba(255, 133, 124, 1);
}
.self-presentation .presentation-text .social-networks h3 {
    font-size: 20px;
    color: lightgrey;
    margin-bottom: 15px;
}

.self-presentation .presentation-text .text {
    margin-bottom: 30px;
}

.self-presentation .presentation-text .social-networks .icons svg {
    width: 30px;
    height: 30px;
    margin: 0 8px;
}

.self-presentation .presentation-text .social-networks .icons svg path {
    stroke: black;
    fill: white;

}

.self-presentation .presentation-text .social-networks .icons svg:hover path {
    fill: red;
}

.self-presentation .presentation-text .social-networks .icons a:first-child svg {
    margin-left: 0;
}

section h3.title {
    font-size: 32px;
    text-align: left;
    margin-bottom: 10px;
}

section h4.title {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: left;
}

.section-presentation {
    color: white;
    padding: 20px;
}

.section-presentation p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 22px;
    text-align: left;
}

.section-presentation .title {
    font-family: 'Share Tech', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #ff837a;
    text-align: center;
}

.habilities {
    margin-top: 0;
}

.habilities .block {
    margin-bottom: 20px;
}

.habilities .block > .title {
    padding: 20px;
    color: #ff837a;
    font-weight: bold;
    border-bottom: 4px solid #ff837a;
    font-family: 'Share Tech Mono', monospace;
    width: 82%;
    text-transform: uppercase;
    margin: 30px auto 20px;
}

.habilities .block .cards {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin: 0 auto;
}

.habilities .block .cards .card, .other-habilities .content .card {
    width: 100%;
    display: flex;
    flex-flow: row;
    margin: 30px 0;
    color: white;
}

.habilities .block .cards .card img, .other-habilities .content .card img {
    width: 20%;
}
.other-habilities .content .card img.special-height {
    height:60px;
}

.other-habilities .content .card img {
    height: 60px;
    margin-top: 30px;
}

.other-habilities .content .card .description {
    margin-top: 25px;
}

.habilities .block .cards .card .description .title {
    font-size: 20px;
}

.habilities .block .cards .card .percent-bar {
    width: 100%;
    height: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.habilities .block .cards .card .description, .other-habilities .content .card .description {
    width: 70%;
    padding-left: 25px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.habilities .block .cards .card .percent-bar .fill {
    height: 100%;
    background: green;
    width: 0%;
    transition: width 1s;
}

.other-habilities .content {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
}

.other-habilities .content .card .description .title {
    font-weight: bold;
    margin-bottom: 5px;

}

footer .i-contact-you {
    background: #2a363c;
    padding: 20px;
    display: flex;
    flex-flow: column;
}
footer .i-contact-you .title {
    color:#ff837a;
    font-size: 36px;
    text-transform: uppercase;
}
footer .i-contact-you p {
    font-size: 18px;
    color:white;

}

footer .i-contact-you .form-send-email input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff837a;
    color: white;
    box-shadow: none;
    padding: 10px 0;
    width: 65%;
    font-size: 18px;
}

footer .i-contact-you .form-send-email button {
    border: 1px solid #ff837a;
    border-radius: 5px;
    padding: 10px 10px;
    color:#ff837a;
    text-transform: uppercase;
    font-size: 18px;
    background: transparent;
    margin-left: 10px;
}

footer .i-contact-you .form-send-email {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

footer .i-contact-you .info-text {
    margin-bottom: 20px;
}

footer .i-contact-you .info-text .title {
    font-family: 'Share Tech Mono', monospace;
}

footer .footer {
    background: #2a363c;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 20px;
    color: #ff837a;
}

footer .footer .social-icons a {
    margin: 0 5px;
}

footer .footer .social-icons a svg path {
    fill: #ff837a;
}
footer .footer .social-icons a svg .fill {
    fill: #2a363c!important;
}

@media screen and (min-width: 585px) {
    header nav.opened {
        width: 40%;
    }
    header nav a {
    font-size: 18px;
    }
    .section-presentation .title {
        font-size: 51px;
    }

    .self-presentation {
        padding: 30px;
    }
    .section-presentation p {
        text-align: center;
    }

    .self-presentation .presentation-text .content {
        padding: 40px;
    }
    .self-presentation .presentation-text .content li:before {
        margin-left: -0.5em;
    }

    .self-presentation .presentation-text h1 {
        font-size: 172px;
    }

    .other-habilities .content .card img {
        height: auto;
        margin-top: 0;
    }
    footer .i-contact-you .form-send-email input {
        width: 80%;
    }
    .other-habilities .content .card img.special-height {
        height:100px;
    }

}

@media screen and (min-width: 768px) {
    header nav {
        width: auto;
        font-size: 18px;
    }

    header nav .letter, header nav .close, header nav span {
        display: none;
    }

    header nav a {
        max-width: none;
    }

    header nav a {
        margin-right: 20px;
    }

    header nav > a:last-child {
        margin-right: 0;
    }
    .habilities .block > .title {
        margin: 50px auto 20px;
    }


    .habilities .block .cards {
        flex-flow: row wrap;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
    }

    .habilities .block .cards .card, .other-habilities .content .card {
        width: 48%;
    }

    .other-habilities .content {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .other-habilities .content .card {
        flex-flow: column;
        text-align: center;
    }

    .other-habilities .content .card img {
        margin: 0 auto;
    }

    .other-habilities .content .card .description {
        width: 100%;
        padding-left: 0;
    }
    .other-habilities .content .card img.special-height {
        height:90px;
        width: 90px;
    }

}

@media screen and (min-width: 992px) {

    section h4.title, section h3.title {
        text-align: center;
    }

    .habilities .block .cards {
        justify-content: center;
        margin-top: 40px;
    }

    .habilities .block .cards .card {
        flex-flow: column;
        text-align: center;
        margin-bottom: 60px;
        width: 33.33%;
    }

    .habilities .block .cards .card .description {
        margin-top: 20px;
        padding-left: 0;
        width: 100%;
        color: white;
    }

    .habilities .block .cards .card .description .title {
        margin-bottom: 10px;
    }

    .habilities .block .cards .card .description .percent-bar {
        width: 60%;
        margin: 0 auto;
    }

    .habilities .block .cards .card img, .other-habilities .content .card img {
        margin: 0 auto;
        height: 120px;
        width: auto;
    }

    .habilities .block {
        margin-bottom: 30px;
    }

    .section-presentation p {
        text-align: center;
    }
    .other-habilities .content .card img.special-height {
        height:130px;
        width: auto;
    }

}

@media screen and (min-width: 1024px) {
    section {
        margin: 60px 0;
    }

    .self-presentation {
        flex-flow: row nowrap;
        padding-bottom: 90px;
    }


    footer .i-contact-you {
        flex-flow: row nowrap;
        padding: 40px;
    }

    footer .i-contact-you .info-text, footer .i-contact-you .form-send-email {
        width: 50%;

    }

    footer .i-contact-you .info-text {
        margin-right: 60px;
    }
}

@media screen and (min-width: 1400px) {
    section {
        margin: 90px 0;
    }

    .habilities .block .cards {
        margin-top: 60px;
    }

    .habilities .block .cards .card, .other-habilities .content .card {
        width: 33%;
    }
}